
 body{font: 13px "Verdana";color:#000; background: #fff;}

 body{padding: 10px 30px 40px;}

 p{margin:10px 0; text-align: justify;}
 p,li,dd,table{page-break-inside:avoid;}

h1,h2,h3{color: #777;}

 h1{font-size:175%; color:maroon; margin-top:20px;}
 h2{margin-top:50px; page-break-before:always;}
 h3{margin-top:40px; margin-bottom:10px;}

 hr{display:none;}
 
 .nodisplay{text-align:center;}
 .noprint{display:none;}
 .pba{page-break-after:always;}
 .pbb{page-break-before:always;}
 .npb{page-break-after:avoid;}

 .italics{font: italic 11px;}

 .detail{font: 12px; 
         background: #dee;
         margin: 20px 0; padding: 5px 16px;}

 div.detail h3{margin:20px; text-align:center;}
 
 #details{font: 11px; background: #FFCFCF;}

 .critical{font: bold;
           background: #FF0000;
           padding: 20px;}

 dt{margin-top: 9px; font-weight: bold;}
 dd{margin: 3px 20px 20px;}

 ul{margin-top:10px;}
 li{margin-top: 5px;}

 a:link{color: maroon;}
 a:visited{color: maroon;}
 a:hover{color: red;}

 a.popup:link{color:black; text-decoration: none;}
 a.popup:visited{color:black; text-decoration: none;}
 a.popup:hover{color:blue; text-decoration: underline;}
 a.popup:active{color:blue;}
 
 a.quiet:link, a.quiet:visited{text-decoration: none;}
 a.quiet:hover{color:blue;}